<a href="https://colab.research.google.com/github/katdask/Data_Visualization/blob/main/Visual_Data_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!unzip -u "/content/drive/My Drive/Airports/2003.zip" -d "/content/drive/My Drive/Airports"

Archive:  /content/drive/My Drive/Airports/2003.zip
  inflating: /content/drive/My Drive/Airports/2003.csv

In [25]:
!unzip -u "/content/drive/My Drive/Airports/2004.zip" -d "/content/drive/My Drive/Airports"

Archive:  /content/drive/My Drive/Airports/2004.zip
  inflating: /content/drive/My Drive/Airports/2004.csv

In [4]:
%cd /content/drive/MyDrive/Airports/

/content/drive/MyDrive/Airports

In [5]:
df_2003=pd.read_csv("2003.csv")
df_2003.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0  2003      1          29  ...       NaN            NaN                NaN
1  2003      1          30  ...       NaN            NaN                NaN
2  2003      1          31  ...       NaN            NaN                NaN
3  2003      1           1  ...       NaN            NaN                NaN
4  2003      1           2  ...       NaN            NaN                NaN

[5 rows x 29 columns]

In [28]:
df_2004=pd.read_csv("2004.csv")
df_2004.head()

   Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0  2004      1          12  ...         0              0                  0
1  2004      1          13  ...         0              0                  0
2  2004      1          14  ...         0              0                  0
3  2004      1          15  ...         0              0                  0
4  2004      1          16  ...         0              0                  0

[5 rows x 29 columns]

In [23]:
#df_2003.dtypes

In [24]:
#df_2003.groupby('Origin').size()

In [11]:
df_2003_select = df_2003.loc[(df_2003['Origin'] == 'PHL') | (df_2003['Origin'] == 'BOS') | (df_2003['Dest'] == 'PHL') | (df_2003['Dest'] == 'BOS')]

In [12]:
df_2003_select.head()

    Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
9   2003      1           1  ...       NaN            NaN                NaN
10  2003      1           2  ...       NaN            NaN                NaN
11  2003      1           3  ...       NaN            NaN                NaN
12  2003      1           4  ...       NaN            NaN                NaN
13  2003      1           5  ...       NaN            NaN                NaN

[5 rows x 29 columns]

In [34]:
depart_2003 = df_2003.loc[(df_2003['Origin'] == 'PHL') | (df_2003['Origin'] == 'BOS')]

arrival_2003 = df_2003.loc[(df_2003['Dest'] == 'PHL') | (df_2003['Dest'] == 'BOS')]

In [32]:
depart_2003.groupby('Origin').size()

Origin
BOS    115460
PHL    108742
dtype: int64

In [35]:
arrival_2003.groupby('Dest').size()

Dest
BOS    115474
PHL    108736
dtype: int64

In [29]:
df_2004_select = df_2004.loc[(df_2004['Origin'] == 'PHL') | (df_2004['Origin'] == 'BOS') | (df_2004['Dest'] == 'PHL') | (df_2004['Dest'] == 'BOS')]

In [22]:
df1.append(df2, ignore_index = True)